.exp-img {
  display: block;
  width: 450px;
}

/* responsive */

@media screen and (min-width: 768px) {
  .experience-wrapper {
    max-width: 80vw;
    margin: 0 auto;
  }
  .exp-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .exp-text-wrap p {
    width: 50%;
  }
  .exp-text-wrap h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 1200px) {
  .exp-img {
    width: 350px;
  }

  .exp-text-wrap p {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .exp-text-wrap h1 {
    font-size: 1.5rem;
  }
  .experience-wrapper {
    max-width: 90vw;
    margin: 0 auto;
  }
  .exp-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .exp-img {
    width: 300px;
  }
  .exp-text-wrap {
    text-align: center;
  }
  .exp-text-wrap p {
    width: 95%;
  }
}
