.footer-container {
  background-color: #fffcf2;
}

.footer-center {
  max-width: 90vw;
  margin: 0 auto;
  padding: 30px 16px;
}

.footer-item-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-li {
  margin: 8px 0;
}

.footer-link {
  color: #777;
  transition: all 0.5s ease-in-out;
}

.footer-link:hover {
  color: red;
}

.footer-social-ul {
  display: flex;
  align-items: center;
}

.footer-social-first {
  margin-left: 0 !important;
}

.footer-social-ul {
  margin: 20px 0;
}

.footer-social-ul > li {
  margin: 0 20px;
}

.footer-link span i {
  font-size: 2rem;
}

.footer-item {
  margin: 26px 0;
}

.footer-cr {
  text-align: center;
  background-color: #fff !important;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .footer-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .footer-item {
    height: 200px;
  }
}
