.action-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url(../pictures/action.png) repeat 0 0;
  opacity: 0.4;
  -webkit-animation: action 0.2s steps(1) infinite;
  animation: action 0.2s steps(1) infinite;
  z-index: -1;
}

@keyframes action {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scaleX(-2);
  }
  50% {
    transform: scale(-1);
  }
  100% {
    transform: scaleY(-1);
  }
}

/* navbar modal */

.nav-modal {
  min-height: 100vh;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transform: translateY(-100vh);
  transition: transform 0.4s ease-out;
}

.show-navModal {
  transform: translateY(0);
}

.hide-navModal {
  transform: translateY(-100vh);
}

/* ----- modal social */

.modal-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  animation: reveal 1s 1;
}

.modal-li-link i {
  font-size: 2rem;
  color: var(--clrWhite);
}

.modal-li p {
  text-decoration: underline;
  color: var(--clrWhite);
}

.modal-li {
  padding: 0 1rem;
}

.modal-li-link {
  color: var(--clrWhite);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.modal-li-link:hover {
  color: var(--clrPizza);
}

.modal-li-last {
  text-decoration: none !important;
}

.web-abir {
  color: var(--clrPizza);
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/* ------- navbar brand ------- */
/* default */
@media screen and (min-width: 1px) {
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/* at 768 */
@media screen and (max-width: 768px) {
  .navbar-link {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .navbar-li {
    padding: 3px 0;
  }
  .navbar-ul {
    display: block;
    min-height: auto;
  }
  .link-pizza {
    max-height: 100px;
  }
  .navbar-modal-center {
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
  }
  .nav_links {
    padding-bottom: 50px;
    text-align: center;
  }
  .modal-ul {
    /* justify-content: center; */
  }
  .modal-li {
    padding: 0 10px;
    margin: 5px 0;
  }
  #order-li {
    display: inline;
  }
  /* bg settings */
}
