.reviews-container {
  max-width: 80vw;
  margin: 5rem auto;
}

.reviews-header {
  margin: 4rem 0;
}

.review {
  margin: 26px 0;
  text-align: center;
}

.client-name {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 10px 0;
  text-transform: capitalize;
}

.client-txt {
  line-height: 1.6;
  color: gray;
}

.client-img {
  border-radius: 50%;
  width: 80px;
}

@media screen and (min-width: 768px) {
  .reviews-header h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .reviews-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .client-txt {
    width: 75%;
    margin: 0 auto;
  }
}
