.slider-wrapper {
  max-width: 80vw;
  margin: 1rem auto;
}

.slider-header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.slider-item img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.slider-item img:hover {
  transform: scale(1.1);
}

.slider-name {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: 10px;
}

.slider-price {
  font-size: 1.3rem;
  font-weight: 500;
}

.slider-desc {
  text-transform: capitalize;
  font-size: 1.1rem;
  padding: 30px 0;
  line-height: 1.8;
}

.slider-btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--themeClr);
  color: #fff;
  padding: 8px 12px;
  border-radius: 10rem;
  transition: all 0.3s ease-in-out;
}

.slider-btn:hover {
  background-color: red;
}

.slider-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.slider-item {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  margin: 20px 10px;
}

.slider-img-wrapper {
  display: flex;
  justify-content: center;
}

.slider-icon-wrapper {
  text-align: center;
  margin: 30px 0;
}

.slider-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

/* --- */

.slider-item {
  transition: all 0.3s ease-in-out;
}

.slider-wrap > .react-multi-carousel-dot-list {
  padding-top: 30px !important;
}
