.subNav-container {
  margin-top: 20px;
}

.subNav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* fixed */
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  background-color: #fff;
  margin-top: 0 !important;
  padding: 5px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.sub-brand {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000;
}

.subNav-link {
  margin: 0 11px;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
}

/* togglers */
.subNav-toggler-wrapper {
  display: flex;
  align-items: center;
}

.subNav-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subUser-acc-max {
  position: absolute;
  right: 0;
}

.subNav-enter,
.subNav-exit {
  display: none;
  font-size: 1.4rem;
  background: none;
  border: none;
  cursor: pointer;
}

.subNav-links {
  height: auto !important;
  margin-right: 100px;
}

.subNav-enter {
  display: none !important;
}

.subLinks-wrapper {
  display: flex;
  align-items: center;
}

/* ------------ */
.subNav-cart {
  color: #000;
}

.subNav-count {
  top: -30%;
}

/* ---------- */

/* responsive */

@media screen and (max-width: 900px) {
  .subNav-enter {
    display: block !important;
  }
  .subNav-center {
    display: block;
  }
  .subLinks-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 30px;
    align-items: first baseline;
  }
  .subNav-link {
    margin: 3px 0;
  }
  .subNav-links {
    height: 0 !important;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin-right: 0 !important;
  }
  .show-links {
    height: 200px !important;
    overflow: none !important;
  }
  .show-toggle {
    display: block !important;
  }

  .hide-toggle {
    display: none !important;
  }

  .hide-links {
    height: 0 !important;
    overflow: none;
  }

  .sub-links-min {
    display: flex;
    flex-direction: column;
  }

  /* .subUser-acc-max {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  } */

  .subUser-acc-max {
    margin-right: 40px;
  }
  .subUser-acc-max > .cart-wrapper {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .sub-brand {
    font-size: 1.6rem;
  }
}
